.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    display: none;
}

.navbar{
    border: 2px solid black;
    background-color: #c9c0c0;;
}

h3{
    text-align: center;
}

.info{
    background-color: rgb(85, 84, 84);
    padding: 10px 24px;
}

@media screen and (max-width:991px){
    .navbar-light .navbar-nav .nav-link {
        display: block;
        text-align: center;
        border: 2px solid black;
        background-color: white;
    }
}

@media screen and (max-width: 768px) {
    .info{
        margin: 10px 0px;
    }
}